.Input{
    width: 100%;
    text-align: start;
    margin: 10px 0;
}

.Input .InputElement{
    width: 100%;
    outline: none;
    border: 2px solid gray;
    border-radius: 7px;
    padding: 10px 16px;
    font-weight: 600;
    color: gray;
    box-sizing: border-box;
}

.Input .InputElement:focus,
.Input .InputElement:hover{
    outline:none;
    border: 2px solid #555555;
    border-radius: 7px;
    color: black;
}

.Input .InvalidInput{
    border: 2px solid red;
    color: red;
    text-decoration-color: red;
}

.Input .InvalidInput:focus,
.Input .InvalidInput:hover,
.Input .InvalidInput::placeholder{
    color: red;
}

.Input .InvalidInput:focus,
.Input .InvalidInput:hover{
    border: 2px solid #D00000;
}


.Input .InputLabel{
    color:black;
    font-weight: 600;
    font-size: 14px;
    margin: 7px 0;
}
