.Form {
    width: 80%;
    margin: 20px auto;
    box-shadow: 1px 2px 3px 2px #ccc;
    border-radius: 8px;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    justify-content: space-between;
    box-sizing: border-box;
}

@media(min-width:700px){
    .Form{
        width: 60%;
    }
}

@media(min-width:1000px){
    .Form{
        width: 50%;
    }
}

@media(min-width:1200px){
    .Form{
        width: 40%;
    }
}
