:global(.ErrorTab) {
    color: #721C24;
    border: 1px solid #721C24;
    background: #F8D7DA;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    font-weight: 700;
    margin: 10px auto;
    box-shadow: 1px 2px 3px 2px #F27B7B;
}

:global(.SuccessTab) {
    color: #155724;
    border: 1px solid #155724;
    background: #D4EDDA;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    font-weight: 700;
    margin: 10px auto;
    box-shadow: 1px 2px 3px 2px #C8D6C8;
}
